---
import SocialList from "../SocialList.astro";

const socialLinks = [
	{
		title: "Bluesky",
		href: "https://bsky.app/profile/jacklorusso.com",
	},
	{
		title: "Github",
		href: "https://github.com/jacklorusso",
	},
	{
		title: "LinkedIn",
		href: "https://www.linkedin.com/in/jacklorusso/",
	},
	{
		title: "Instagram",
		href: "https://www.instagram.com/jack.lorusso/",
	},
	{
		title: "Email",
		href: "mailto:jacklorusso@gmail.com",
	},
];
const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-start justify-center gap-y-2 pb-4 pt-20 text-center align-top text-sm text-gray-500 sm:flex-row sm:justify-between"
>
	<nav aria-label="Social links">
		<SocialList />
	</nav>
	<div class="me-0 sm:me-4">
		&copy;{year} Jack Lo Russo
	</div>
</footer>
