---
import SocialList from "@/components/SocialList";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full items-end justify-between pb-4 pt-20 text-center align-top text-gray-500"
>
	<SocialList />
	<span>
		&copy; Jack Lo Russo, {year}
	</span>
</footer>
