---
import SocialList from "../SocialList.astro";

const year = new Date().getFullYear();
---

<footer
  class="max-w-3xl mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-sm text-gray-500 dark:text-gray-400 sm:flex-row sm:justify-between sm:items-start"
>
  <nav aria-label="Social links">
    <SocialList />
  </nav>
  <div class="mb-16">
    &copy;{year}&nbsp;<a
      class="h-card no-underline hover:underline"
      href="https://jacklorusso.com">Jack Lo Russo</a
    >
  </div>
</footer>
