---
import { Image } from "astro:assets";
import type { WebmentionsChildren } from "@/types";

interface Props {
  mentions: WebmentionsChildren[];
}

const { mentions } = Astro.props;
const MAX_LIKES = 100;

const likes = mentions.filter((mention) => mention["wm-property"] == "like-of");
const likesToShow = likes
  .filter((like) => like.author?.photo && like.author.photo !== "")
  .slice(0, MAX_LIKES);
---

{
  !!likes.length && (
    <div>
      <p class="mb-0 text-accent-2">
        <strong>{likes.length}</strong>
        {likes.length > 1 ? " people" : " person"} liked this
      </p>
      {!!likesToShow.length && (
        <ul class="flex list-none flex-wrap overflow-hidden ps-2" role="list">
          {likesToShow.map((like) => (
            <li class="-ms-2">
              <a
                href={like.author?.url}
                target="_blank"
                rel="noopener noreferrer"
                title={like.author?.name}
              >
                <Image
                  class="my-0 h-8 w-8 rounded-full"
                  src={like.author?.photo!}
                  alt={like.author?.name}
                  width={36}
                  height={36}
                />
              </a>
            </li>
          ))}
        </ul>
      )}
    </div>
  )
}
