---
import PageLayout from "@/layouts/Base";
import BlueskyFeed from "@/components/bluesky-feed/Feed";

const meta = {
  title: "Micro-blog",
  description: "A stream of my latest posts on Bluesky",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">{meta.title}</h1>

  <div
    class="prose prose-cactus prose-headings:font-semibold prose-a:font-normal prose-th:before:content-none"
  >
    <p>
      These days I'm micro-blogging on Bluesky — this is a stream of my latest
      posts!
    </p>
    <p>
      Follow me there <a href="https://bsky.app/profile/jacklorusso.com"
        >@jacklorusso.com</a
      > and say hi 👋
    </p>
    <p>
      You can also
      <!-- <a
        href="/posts/adding-a-micro-blog-feed-to-my-site"
        >read more about this page</a
      > or  -->

       check out my archive of a decade of micro-blogging on Twitter at <a
        href="https://twitter.jacklorusso.com">twitter.jacklorusso.com</a
      >.
    </p>
  </div>
  <section class="mt-8">
    <BlueskyFeed postLimit={90} />
  </section>
</PageLayout>
