---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import profileImg from "~/assets/jack.jpeg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div>
		<h1 class="title mb-6">About me</h1>
		<p>
			For a lot of my career, I've been focused on building, maintaining and scaling design systems.
			I'm currently working on the <a href="https://atlassian.design">Atlassian Design System</a>.
			Outside of tech, I'm passionate about education and the arts. Also, I'm a huge Sydney and
			Seattle sports fan ⚾️
		</p>
		<div class="flex justify-start">
			<Image
				src={profileImg}
				alt="Jack holding a kangaroo joey"
				loading="eager"
				fetchpriority="high"
				class="mt-6 w-1/4 rounded-full"
			/>
		</div>
	</div>
</PageLayout>
