---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import profileImg from "~/assets/jack.jpeg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="flex space-y-6">
		<Image
			src={profileImg}
			alt="Jack holding a kangaroo joey"
			loading="eager"
			fetchpriority="high"
			class="w-1/4 rounded-full"
		/>
		<div class="w-3/4 p-2">
			<h1 class="title">About</h1>
			<p>
				I'm a design/engineering hybrid with a focus on design systems and cultivating healthy
				teams. Outside of tech, I am passionate about education and the arts. I'm also a huge Sydney
				and Seattle sports fan ⚾️
			</p>
		</div>
	</div>
</PageLayout>
