---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import profileImg from "../assets/jack.jpeg";
import preikestolenImg from "../assets/preikestolen.jpeg";
import solheimasandurImg from "../assets/solheimasandur.jpeg";

const meta = {
  title: "About",
  description: "About page",
};
---

<PageLayout meta={meta}>
  <div
    class="flex rotate-6 justify-start -space-x-12 sm:my-12 sm:justify-center sm:-space-x-14"
  >
    <Image
      src={solheimasandurImg}
      alt="Jack standing on a crashed plane on a black beach in Sólheimasandur, Iceland."
      loading="eager"
      fetchpriority="high"
      class="mt-0 w-2/5 rotate-[-12deg] rounded border-8 border-b-[48px] bg-gray-400 shadow-md sm:w-1/3 sm:border-b-[54px]"
    />
    <Image
      src={profileImg}
      alt="Jack smiling while holding a kangaroo joey in Alice Springs, Australia."
      loading="eager"
      fetchpriority="high"
      class="z-10 mt-0 w-2/5 rotate-6 rounded border-8 border-b-[48px] bg-gray-400 bg-blend-soft-light shadow-md sm:w-1/3 sm:border-b-[54px]"
    />
    <Image
      src={preikestolenImg}
      alt="Jack sitting on the edge of a massive cliff over a fjord at Preikestolen, Norway."
      loading="eager"
      fetchpriority="high"
      class="mt-0 w-2/5 rotate-12 rounded border-8 border-b-[48px] bg-gray-400 shadow-md sm:w-1/3 sm:border-b-[54px]"
    />
  </div>
  <h1 class="title mb-4 mt-6">About me</h1>
  <div
    class="prose prose-cactus prose-headings:font-semibold prose-a:font-normal prose-th:before:content-none"
  >
    <p>
      Some rapid fire facts... I’m a 90s kid who memorised the Pokédex before I
      knew how to read. Travel is a huge part of my life and I've been to over
      50 countries. I would say that I love to cook, but it’s
      <em>probably</em> more accurate to say that I love to eat. I’ve been vegan
      for about 8 years, but occasionally will eat dairy if I'm traveling overseas.
      I love my sport; I’m a lifelong St George Illawarra Dragons fan (pray for me),
      a sucker for all things Seattle, a card-carrying tifoso (with a soft sport
      for Daniel Ricciardo of course), and a fervent supporter of our Australian
      national&nbsp;teams.
    </p>
    <p>
      I’m currently studying a Master of Teaching (Secondary) at UNSW. I’ve
      always wanted to be a teacher, and now I’m finally doing it. I’ll be
      teaching English and Society & Culture, two subjects that are close to my
      heart and that I believe have a lot to offer young&nbsp;people.
    </p>
    <p>
      For the last 9 years or so I’ve worked in tech in various roles at the
      intersection of development and design. At various times I’ve been called
      a software engineer, a design technologist, a product designer, and more.
      I have a strong background in design systems and spent a lot of my tech
      career building them, scaling them and maintaining them. Most recently
      I’ve spent almost 4 years working on the <a
        href="https://atlassian.design">Atlassian Design&nbsp;System</a
      > with a bunch of really clever people.
    </p>
    <p>
      I live in sunny Sydney, Australia with my beautiful partner and my two
      cats, Luna and Boof. My little home means everything to me.
    </p>
  </div>
  <h2 class="title mb-4 mt-12">About this site</h2>
  <div
    class="prose prose-cactus prose-headings:font-semibold prose-a:font-normal prose-th:before:content-none"
  >
    <p>
      In past incarnations <a href="/">jacklorusso.com</a> has been more of a portfolio,
      or a glorified business card. Now, it’s an old-school blog. Somewhere for me
      to jam on things I’m interested in and share my <a href="/tags/reco/"
        >recos</a
      >.
    </p>
    <p>You can subscribe to this site with <a href="/rss.mxl">RSS</a>.</p>
  </div>
</PageLayout>
